.herosec{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.colorofh{
    color: $main-color;
}
.fs-cus-6{
    font-size: 70px;
}
.colorofp{
    color: $main-color-p;
    font-size: 30px;
}
.pt-6{
    padding-top:12%;
}
.pb-6{
    padding-bottom: 12%;
}